@import '../../style/bigStyle.scss';

.Progression{
  width : 100vw;
  height: 100vh;
  display: flex;
  flex-direction : column;
  overflow-y: hidden;
}

.top-wrapper{
  width : 100%;
  height: 40%;
  display: flex;
  flex-direction : row;
}
.side-wrapper {
  width: 50%;
}

.state-wrapper {
  padding-top:  39px;
  padding-left: 120px;
}

.bottom-wrapper{
  padding-left: 120px;
  padding-right: 120px;
}
 .KOKOKO{
  margin-top: -20px;
} 
.info-wrapper{
  display: flex;
  flex-direction : row;
  margin-left : 59%;
}
.logo-progression{
  width: 133.78px;
  height: 65.62px;
 
  margin-top: 20px;
}

.profile-container{
  margin-top: 20px;
  margin-left : 20px;
  width: 200px;
  height: 59px;
  background : black;
}