@import '../../../../style/bigStyle.scss';
.grade-card {
  width: 377.9px;
  height: 242.89px;
  display: flex; 
  flex-direction : row;
  align-items: center;
  justify-content: space-around;
  background: #FFFFFF;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 14px;  
  margin-bottom: 26px;
  margin-right: 90px;
}
  
.listing{
  background: plum;
  height: 100%;
}
  
.illu-wrapper{
  height: 100%;
  background-color: paleturquoise;
}
  
.circle{
  height: 80.45px;
  width: 80.45px;
  border-radius: 80.45px;
  border: 7px solid blueviolet;
  text-align: center;
  
}
.circle::after{

}