@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?navf9t');
  src:  url('fonts/icomoon.eot?navf9t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?navf9t') format('truetype'),
    url('fonts/icomoon.woff?navf9t') format('woff'),
    url('fonts/icomoon.svg?navf9t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-avatared:before {
  content: "\e900";
  color: #686868;
}
.icon-check:before {
  content: "\e901";
  color: #fff;
}
.icon-ecrou:before {
  content: "\e902";
  color: #7d7d7d;
}
.icon-energie:before {
  content: "\e903";
  color: #fff;
}
.icon-house:before {
  content: "\e904";
  color: #fff;
}
.icon-tech:before {
  content: "\e905";
  color: #fff;
}
.icon-trash:before {
  content: "\e906";
  color: #fff;
}
.icon-tree:before {
  content: "\e907";
  color: #fff;
}
