@import "./color.scss";
@import "./font.scss"; 


// button => valider les défis  
button{
    background-color: $BlueGreen; 
    border: solid #C4C4C4 0px;
    outline : none ;  
    padding : 5px 20px 7px 20px; 
    text-align: center;
  /*   font-family: $open;  */
    font-weight: bold;
    color : white; 
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 19px;
}

button:hover{
    background-color : red;
    color : grey; 
}

button:active{
    background : green;
}


// button => valider les défis  
button.btn{
    background-color: $GreenTea;
    border-radius: 19px;
    text-transform: lowercase;
    
}

// button => log 
.btn-log {
    padding : 10px 60px 10px 60px; 
    border-radius: 14px;
    background-color: $BlueGreen;
   a{
    text-transform: lowercase;
    font-weight: 500;
    font-style: normal;
    font-family: $open;
    font-size: 18px;
    line-height: 25px;
    color: white;
    text-decoration: none;
    }  
}




button.btn-log:active{
    background-color: $BlueGreen; 
    color : white;
}
