
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$open: 'Open Sans', sans-serif;
$Suwanna : 'Suwannaphum', cursive;


h1 { //GROS TITRE
     font-family: 'Open Sans', sans-serif;
     font-size: 50px;
     //letter-spacing: -8%;
}

h2 { //TITRE
     font-family: 'Open Sans', sans-serif;
     font-size: 24px;
     font-weight: 800;

}

h3 {
     font-family: $open;
     font-size: 20px;
     font-weight: 700;
}

body, p , text {
     font-family: $open;
     font-size: 20px;
     font-weight: 300;
}


