@import "./color.scss";
@import "./font.scss"; 

input{
  text-decoration: none;
  outline : none ;  
  width: 296px;
  height: 57px;
  padding-right : 20px;
  padding-left: 20px;
  background: $LightGrey ; 
  border : none;
  border-radius :9px;
  margin-bottom: 20px;
}

form{
  width: 400px;
  //background: yellow;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
  form{
    width: 400px;
    //background: blue;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}