@import '../../../style/bigStyle.scss';
@import '../../../style/icomoon/style.scss';

.Signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 40px 0 140px 30px;
  
  p{
    font-family: $KMedium; 
    text-align: center;
    font-size: 14px;
    color: $Grey;
    
    
  }
  .signup-logo{
    width: 39%;
  }

  .signup-logo, h3{
    margin-left: -40px;
  }
  .signup-policy{
    font-family: $KRegular;
    margin-left : -70px;
    margin-bottom: 20px;
    line-height: 25px;
  }
  
  a{
    color :black
  } 
}



@media screen and (max-width: 800px) {
  .Signup {
    padding-top: 20px; 
  }
  .signup-logo, h3{
    margin-left: -40px;
  }
}