@import '../../../style/bigStyle.scss';
@import '../../../style/icomoon/style.scss';

.Signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  padding: 40px 30px 140px 30px;
  
  p{
    font-family: $KMedium; 
    text-align: center;
    font-size: 14px;
    color: $Grey;
  }
  .signup-logo{
    width: 39%;
  }

  .signup-policy{
    font-family: $KRegular;
  }
}

@media screen and (max-width: 800px) {
  .Signup {
    padding-top: 0px;
  }
}